<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <!-- Exibir os dados retornados em um card para cada categoria -->
  <ion-card *ngFor="let category of dataReturned?.categories" class="card-container">
    <ion-button (click)="abrirCategoria(category.strCategory)" fill="clear">
      <img [src]="category.strCategoryThumb" alt="{{ category.strCategory }} image"/>
      <ion-card-header class="card-header">
        <ion-card-title>{{ category.strCategory }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <p>{{ category.strCategoryDescription }}</p>
      </ion-card-content>
    </ion-button>
  </ion-card>
  </div>
</ion-content>
