<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Developers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="developer-card">
    <img alt="Foto Pessoal do Aluno Marcos" src="../../assets/icon/marcos.jpg">
    <ion-card-header>
      <ion-card-title>Marcos Vinicius Ranauro Corrêa</ion-card-title>
      <ion-card-subtitle>Matricula: 23103576</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="developer-card">
    <img alt="Foto Pessoal do Aluno Pedro" src="../../assets/icon/pedro.jpeg">
    <ion-card-header>
      <ion-card-title>Pedro Lucas Antunes Costa</ion-card-title>
      <ion-card-subtitle>Matricula: 23105202</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="developer-card">
    <img alt="Foto Pessoal do Aluno Juan" src="../../assets/icon/juan.jpeg">
    <ion-card-header>
      <ion-card-title>Juan Eliomar Siqueira Barros</ion-card-title>
      <ion-card-subtitle>Matricula: 23108305</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
