<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let receita of favoritos" (click)="abrirDetalhesReceita(receita.idMeal)">
      <ion-thumbnail slot="start">
        <img [src]="receita.strMealThumb" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ receita.strMeal }}</h2>
        <p>{{ receita.strCategory }}</p>
        <p>{{ receita.strArea }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" color="dark">
        see details
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
