<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img src="../../assets/icon/logo2.jpeg" class="img-logo"></ion-img>
    <ion-title>My Recipes</ion-title>
    <form (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" class="ion-margin-top" color="dark">Login</ion-button>
    </form>
    <ion-button expand="block" (click)="navegarCadastro()" color="light">Register</ion-button>
    <ion-button expand="block" color="secondary" class="ion-margin-top" (click)="loginWithGoogle()" color="dark">Login With Google</ion-button>
  </div>
</ion-content>
